@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@200;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Poppins", sans-serif;
}

/* #4dd2ff
#1A1A1A
#272727 */

.pages-container {
  height: 1000px;
  background-color: #1a1a1a;
  border: 2px solid red;
}

.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.hollow-outline {
  font-size: 8rem;
  color: #1a1a1a;
  -webkit-text-fill-color: #1a1a1a; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2.5px;
  -webkit-text-stroke-color: #4dd2ff;
  position: relative;
  top: -150px;
}

.typewriter {
  position: relative;
  top: -150px;
}

.view-work-btn {
  position: relative;
  top: 150px;
  background-color: #272727;
  border-radius: 20px;
  padding: 10px;
}

.navbar {
  display: flex;
  height: 80px;
  justify-content: center;
  align-items: center;
  background-color: #272727;
  position: sticky;
  top: 0;
}

.navbar > .active {
  border-bottom: 2px solid #4dd2ff;
}

.navbar-elements {
  font-size: 1.25rem;
  padding: 25px;
}


.skills-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skills-card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  border: 2px solid red;
  height: 600px;
  width: 900px;
}

.skills-card {
  text-align: center;
  border: 2px solid yellow;
  width: 140px;
  height: 110px;
  margin: 25px;
}

.footer {
  display: flex;
  height: 80px;
  justify-content: center;
  align-items: center;
  background-color: #272727;
}
